.main {
  display: flex;
  /* place-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
}

.about {
}
.about h2 {
  text-transform: uppercase;
}

.about span {
  color: #6fc8a4;
}

.about img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 50% 30%;

  border: 8px solid transparent;

  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #1c424b, #35cb9c) border-box;
  border-radius: 10px;
}

.about li::marker {
  color: #6fc8a4;
}
.listData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  align-items: center;
  font-size: 1.2rem;
}

.data {
  display: grid;
  justify-items: left;
  align-items: center;
  margin-left: 2em;
}

.about ul {
  padding-left: 1em;
}

.about h3 {
  margin: 0;
}
